/* Counter Program */

/* #cntlbl{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: rgb(182, 132, 123);
    border-radius: 5px;
    cursor:pointer;
    transition:0.25s;
}
.buttons:hover{
    background-color: rgb(227, 142, 45);
} */

/* Counter Program */

/* Random Number Generator */

/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#myButton{
    font-size : 3em;
    padding : 5px 25px;
    border-radius : 5px;
}
.myLabel{
    font-size: 3em;
} */

/* Random Number Generator */

/* Checked Property */

/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color:rgb(145, 255, 0);
    text-align: center;
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Container{
    height:400px;
    width:400px;
    background-color: rgb(44, 165, 173);
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(18, 16, 16);
}

#mySubmit{
    padding:10px;
    border:2px solid rgb(15, 106, 118);
    border-radius: 10px;
    background-color: #df6b6b;
    cursor: pointer;
} */

/* Checked Property */

 /* Temperature Conversion  */

/* body{
    height:100vh;
    width:100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 176, 214);
}
#Container{
    width:500px;
    height:500px;
    background-color: rgb(132, 132, 188);
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}
h1{
    font-weight: 400;
    padding: 20px;
}
#textBox{
    text-align: center;
    width:300px;
    height: 2em;
    outline: none;
    border-radius: 50px;
    border: 1px solid grey;
    margin-bottom: 30px;
    font-size: large;
}
section{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#mySubmit{
    color:brown;
    padding: 10px;
    width:100px;
    margin-top: 30px;
    border-radius: 10px;
    outline: none;
    background-color: bisque;
    box-shadow: 1px 1px 2px;
    cursor: pointer;
    transition: 0.5s;
}
#result{
    margin-top: 2em;
}
#mySubmit:hover{
    background-color: rgb(192, 145, 145);
} */

  /* Temperature Conversion  */


